<!DOCTYPE html>
<html>
	<head>
		<title>test</title>

		<script src="other/jquery.min.js"></script>
		
		<script type="text/javascript" src="Sparrow.js"></script>

		<script type="text/javascript">


			$(function(){
			
				var bb = function(callback, errback) {

		            var promise = S.Promise();

		            setTimeout(function() {

		            	promise.resolve('OKBB');
		              
		            }, 2000);

		            return promise.promise;
		        };

				var cc = function(callback, errback) {

		            var promise = S.Promise();

		            setTimeout(function() {

		            	promise.resolve('OKCC');
		              
		            }, 1000);

		            return promise.promise;
		        };
		      
				// S.whenAll([bb(),cc()]).then(function(res){
				// 	console.log(res);
				// });
				// S("#uu").delegate('.gm','click',function(){
				// 	alert(1);
				// });

				
			});

		</script>
	</head>
	<body><div id="aa"></div>
		<input type="text" id='zz' />
		<ul id="uu" class="a">
			<li class="gm">1</li>
			<li id="aa" class="gm">2</li>
			<li class="gaaa">3</li>
			<li class="gm">4</li>
			<li class="gm">5</li>
		</ul>
		<div>asdasdasd <button>asdasd</button></div>

		 <script type="text/tmpl" id="tmpl-demo">
 * <ol title="<%=name%>">
 *  <% for (var i = 0, l = list.length; i < l; i ++) { %>
 *      <li><%=list[i]  %></li>
 *  <% } %>
 * </ol>
 * </script>
 <script type="text/javascript">

	S("#aa").append(S.tmpl('#tmpl-demo', {name: 'demo data', list: [202, 96, 133, 134]}));


 </script>

	</body>
</html>